schema-2.2.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">

    <start>

        <element name="debate-format">

            <attribute name="schema-version">
                <value>2.2</value>
            </attribute>

            <ref name="element-name"/>

            <zeroOrMore>
                <element name="short-name">
                    <ref name="attribute-language"/>
                    <data type="string"/>
                </element>
            </zeroOrMore>

            <element name="version">
                <data type="integer"/>
            </element>

            <optional>
                <element name="languages">
                    <oneOrMore>
                        <element name="language">
                            <ref name="value-language"/>
                        </element>
                    </oneOrMore>
                </element>
            </optional>

            <oneOrMore>
                <element name="info">
                    <ref name="attribute-language"/>
                    <ref name="subelements-info"/>
                </element>
            </oneOrMore>

            <optional>
                <element name="period-types">
                    <oneOrMore>
                        <element name="period-type">
                            <attribute name="ref">
                                <ref name="value-xref"/>
                            </attribute>
                            <optional>
                                <attribute name="pois-allowed">
                                    <data type="boolean"/>
                                </attribute>
                            </optional>
                            <interleave>
                                <ref name="element-name"/>
                                <zeroOrMore>
                                    <element name="display">
                                        <ref name="attribute-language"/>
                                        <text/>
                                    </element>
                                </zeroOrMore>
                                <optional>
                                    <element name="default-bgcolor">
                                        <data type="string">
                                            <param name="pattern">#[0-9a-fA-F]{6}</param>
                                        </data>
                                    </element>
                                </optional>
                            </interleave>
                        </element>
                    </oneOrMore>
                </element>
            </optional>

            <!-- Can choose either or prep-time and prep-time-controlled but not both -->
            <optional>
                <choice>
                    <element name="prep-time">
                        <attribute name="length">
                            <ref name="value-time"/>
                        </attribute>
                    </element>

                    <element name="prep-time-controlled">
                        <ref name="common.controlled-time"/>
                    </element>
                </choice>
            </optional>

            <element name="speech-types">
                <oneOrMore>
                    <element name="speech-type">
                        <attribute name="ref">
                            <ref name="value-xref"/>
                        </attribute>
                        <ref name="common.controlled-time"/>
                    </element>
                </oneOrMore>
            </element>

            <element name="speeches">
                <oneOrMore>
                    <element name="speech">
                        <attribute name="type">
                            <ref name="value-xref"/>
                        </attribute>
                        <ref name="element-name"/>
                    </element>
                </oneOrMore>
            </element>

        </element>

    </start>

    <define name="common.controlled-time">
        <attribute name="length">
            <ref name="value-time"/>
        </attribute>
        <optional>
            <attribute name="first-period">
                <ref name="value-xref"/>
            </attribute>
        </optional>
        <zeroOrMore>
            <ref name="element-name"/>
        </zeroOrMore>
        <zeroOrMore>
            <element name="bell">
                <attribute name="time">
                    <choice>
                        <ref name="value-time"/>
                        <value>finish</value>
                    </choice>
                </attribute>
                <optional>
                    <attribute name="number">
                        <data type="integer"/>
                    </attribute>
                </optional>
                <optional>
                    <attribute name="next-period">
                        <ref name="value-xref"/>
                    </attribute>
                </optional>
                <optional>
                    <attribute name="pause-on-bell">
                        <data type="boolean"/>
                    </attribute>
                </optional>
            </element>
        </zeroOrMore>
    </define>

    <define name="element-name">
        <oneOrMore>
            <element name="name">
                <ref name="attribute-language"/>
                <ref name="value-string"/>
            </element>
        </oneOrMore>
    </define>

    <define name="subelements-info">
        <interleave>
            <zeroOrMore>
                <element name="region">
                    <ref name="value-string"/>
                </element>
            </zeroOrMore>
            <zeroOrMore>
                <element name="level">
                    <ref name="value-string"/>
                </element>
            </zeroOrMore>
            <zeroOrMore>
                <element name="used-at">
                    <ref name="value-string"/>
                </element>
            </zeroOrMore>
            <element name="description">
                <ref name="value-string"/>
            </element>
        </interleave>
    </define>

    <define name="value-time">
        <data type="string">
            <param name="pattern">\d+(:[0-5]\d)?</param>
        </data>
    </define>

    <define name="value-string">
        <data type="string">
            <param name="minLength">2</param>
        </data>
    </define>

    <define name="value-xref">
        <!-- The app will actually permit any string, but we enforce stricter conventions in the
             official repository. -->
        <data type="string">
            <param name="pattern">[a-z0-9\.\-]+</param>
        </data>
    </define>

    <define name="attribute-language">
        <optional>
            <attribute name="xml:lang">
                <ref name="value-language"/>
            </attribute>
        </optional>
    </define>

    <define name="value-language">
        <data type="string">
            <!-- copied from https://stackoverflow.com/questions/7035825/regular-expression-for-a-language-tag-as-defined-by-bcp47 -->
            <param name="pattern">(((en-GB-oed|i-ami|i-bnn|i-default|i-enochian|i-hak|i-klingon|i-lux|i-mingo|i-navajo|i-pwn|i-tao|i-tay|i-tsu|sgn-BE-FR|sgn-BE-NL|sgn-CH-DE)|(art-lojban|cel-gaulish|no-bok|no-nyn|zh-guoyu|zh-hakka|zh-min|zh-min-nan|zh-xiang))|((([A-Za-z]{2,3}(-([A-Za-z]{3}(-[A-Za-z]{3}){0,2}))?)|[A-Za-z]{4}|[A-Za-z]{5,8})(-([A-Za-z]{4}))?(-([A-Za-z]{2}|[0-9]{3}))?(-([A-Za-z0-9]{5,8}|[0-9][A-Za-z0-9]{3}))*(-([0-9A-WY-Za-wy-z](-[A-Za-z0-9]{2,8})+))*(-(x(-[A-Za-z0-9]{1,8})+))?)|(x(-[A-Za-z0-9]{1,8})+))</param>
        </data>
    </define>

</grammar>
